header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1900px;
    height: 908px;
}    
.header{
    position: relative;
    top: 286px;
    left: 1200px;
    text-align: right;
    
    
    

}
section{
    text-align: left;
}
.top-heading{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: 520px;
    height: 100px;
    align-items: right;
    font-size: 50px;
}
.first-p{
    padding-top: 50px;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-right: 1380px;
}
.contact-us{
    border-style: none;
    height: 64px;
    width: 160px;
    background: #f15b22;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 350px;
    margin-top: 20px;
    margin-right: 1380px;
}

main section{
    display: flex;
}
main section h1{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}
main section p{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #444343;
}

main section ul li{
    list-style: none;
    
}
.person{
    position: relative;
    left: 280px;
    top: 100px;
}
.my-failure{
    margin-left: 450px;
    margin-top: 350px;
}
.my-plan{
    position: relative;
    top: 200px;
    left: 900px;
}
.ul{
    display: flex;
    margin-top: 400px;
    margin-left: 300px;
    gap: 100px;
}
.image{
    position: relative;
    left:360px;
    top:80px;
}
.image-overlay{
    position: relative;
    left: 350px;
}
.image-watch{
    
    top: 100px;
}
.image-gradi{
    position: absolute;
    top: 1px;
}
.motiv-button{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: 130px;
    left: 20px;
}
.button-end{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    border-style: none;
    border-radius: 5px;
    position: relative;
    top: 90px;
    right: 260px;
    height: 50px;
    width: 150px;
    color: blue;
    font-size: 18px;
}